   .body {
     margin: 0;
   }
   .btn { 
    display: inline-block;
    margin-top: 1rem;
    border: .2rem solid rgb(0, 0, 0);
    background: #ffe6dd;
    padding: 1.5rem 4rem;
    font-size: 2rem;
    cursor: pointer;
    color: #222;
     } 
    .btn:hover { 
    color: #fff;
    background: crimson;
     } 
    .heading {
    text-align: center;
     margin: 3rem; 
     font-size: 3rem;
     color: #222;
     }

     .header { 
      position:relative;
      top:0; left:0; right:0;
      background: #ffe6dd;
      padding: 1rem 2%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header .logo img { 
        height: 4rem;
     } 
     .header .search-form {
    height: 5rem;
    width: 30rem;
    border-radius: .5rem;
    background: #ffe6dd;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
     }
    .header .search-form input {
    width: 100%; background: none;
    font-size: 1.5rem; 
    color:crimson;
    text-transform: none;
     }

    .header .icons a,
     .header .icons div {
       font-size: 1.5rem;
       padding: 0 1rem;
       color: #222;
       margin-left: .3rem;
       border-radius: .5rem;

     }
    .header .icons a:hover,
    .header .icons div:hover {
    background: crimson;
     color: #fff;
     } 
   
     header .navbar a{
      font-size: large;
      padding: 0 .5rem;
      color: black;
     
  }
    .navbar a:hover { 
    color: crimson; 
    letter-spacing: .2rem; 
     } 
    .home { 
     padding: 2rem;
      display: flex;
      align-items: center;
      min-height: 100vh;
     } 
     .home .image-home img {
      height: 50rem;
      width: 50rem;
      display:block;
    }
    p {
      text-align:center;
      font-size:x-large;
      color: black;
      padding: 1rem;
      margin:2rem;
      background:#ffe6dd ;
    }
    h3 {
      text-align:center;
      font-size:x-large;
      color: black;
      padding: 1rem;
      margin:2rem;
      background:#ffe6dd ;
    }

    .box-container {
      display: flex;
      flex-wrap:wrap;
      gap: 1rem;
      flex-direction:row;

  }

.shop .box-container  .box {
      Flex-direction:row;
      box-shadow: 1rem 1rem 1rem 1rem #ffe6dd;
      border-radius: 0.5rem;
      border: 0.1rem 0.1rem solid crimson;
    position: relative;
  }
  .discount {
      position: absolute;
      top : .1rem; 
      left: .1rem;
      padding: 0.1rem .1rem;
      font-size: 1rem;
      color:#ffe6dd;
      background: crimson;
      z-index: 1;
      border-radius: 0.5rem;
  }
  .box .product img {
      position:relative;
      text-align: center;
      padding-top: 1rem;
      height: 15rem;
      width: 15rem;
      overflow: hidden;
  }
  .box-container .box .icons a{
    position: relative;
    height: 2rem;
    line-height: 1rem;
    font-size: 1.5rem;
    color:crimson;
    text-decoration: none;
}
.box-container .box .icons a:hover{
  background:#ffe6dd;
}
  .content {
      padding: 2rem 2rem;
      text-align: center;
  }
  .content .stars {
    color: rgb(237, 203, 11);
  }
  .price {
      font-size: x-large;
      color: crimson;
      font-weight: bolder;
      padding-top: 1rem;
  }
  .box .arrival img {
    height: 20rem;
    width: 20rem;
}
.service {
  background: whitesmoke;
  gap: 2rem;
}

.service .box3 {
  border: 0.2rem 0.2rem solid #222;
  padding: 1rem 1rem solid;
  text-align: center;
  background: #fff;
  flex-direction:row;

}

.service .box3:hover {
  background: gray;
}

.service .box3:hover h3 {
  color: crimson;
}

.service .box3:hover p {
  color: crimson;
}

.service .box3 img {
  height: 8rem;
  margin-bottom: .3rem;
}

.service .box3 h3 {
  padding: .5rem .5rem;
  font-size: 2rem;
  color: #222;
}

.service .box3 p {
  font-size: 1rem;
  color: #777;
  line-height: 2;
}

.footer .box-container3 {
    display: flex;
   flex-wrap: wrap;
   gap: 1rem;
 }
.footer .box-container3 .box4 {
   flex: 1 1 10rem;
   }
 .footer .box-container3 .box4 a{
    display: block;
    color: black;
     font-size: 1.5rem;
 }
 .footer .box-container3 .box4 a:hover {
   color: #ffe6dd;
 }
.footer .box-container3 .box4 img {
  margin-top: 1rem;
 }
 .footer .credit {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 2rem;
  color: #222;
  border-top: 0.1rem solid crimson;
  }

.footer .box-container3 .contact .share { 
 margin-top: 2rem;
 } 
.footer .box-container3 .contact .share a {
  height: 5rem; 
  width: 5rem;
  background: #fff;
  border: 0.2rem solid #222;
  font-size: 2rem; 
  line-height: 4.5rem; 
  color: #222; text-align: center;
  margin-right: 4rem; 
  }
 .footer .box-container3 .contact .share a:hover {
  background: crimson; 
  color: #fff;
 }