* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:#f7f7f7;
    height: fit-content;
    
    
    }
    
    ul{
        list-style:none;
        background-color: #d58d9b;
    }
    ul li{
        display: inline-block;
        background-color: #d58d9b;
        padding: 5px;
        text-decoration: solid;
    }
    
    .page{
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-rows: 5% auto 10%;
        grid-template-areas: "logo logo logo logo logo . nav nav nav "
         "cont cont cont cont cont cont cont cont cont " 
         "foot foot foot foot foot foot foot foot foot ";
    
         background-color: #d58d9b;
         height: max-content;
     
    }
    h1{
        grid-area: logo;
        background-color: #d58d9b;;
    }
    nav{
        grid-area: nav;
        background-color: #d58d9b;
        padding: 10px;
        align-items: baseline;
        display: flex;
        padding-left: 100px;
    }
    section{
        grid-area: cont;
    }
    footer{
        grid-area: foot;
        background-color: #d58d9b;
        margin-top: 6px;
        height: 70px;
        
    }
    .content{
        height: 1000px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto auto auto ;
        grid-template-areas: "img img img img";
        margin-bottom: 100px;
        animation: drop 1.5s ease ;
    }
     del{
        text-decoration-color: red;
    }
    .img{
        grid-area: img;
        background-image: url(tabletsection.jpg);
        padding: 100px;
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        padding: 230px;
    }
    h2{
        background-color: rgb(217 180 180 / 90%);
    }
    a {
        text-decoration: none;
        color:black;
        
    }
    .first{
        margin-top: 40px;
        margin-bottom: -20px;
        margin-left: 11%;
        border: 4px solid #ffe6dd;
        padding: 7px;
        float: left;
        width: 180px;
        border-style: outset;
        border-color: snow;
        border-radius: 10%;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 41px;
        transform: translate(0,0);
        transition-duration:1S ;
        transition-timing-function: ease;
    
        
    }
    .first:hover{
        transform: translate(0,-25px);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .second{
        margin-top: 40px;
        margin-bottom: -20;
        margin-left: 11%;
        border: 4px solid #ffe6dd;
        padding: 7px;
        float: left;
        width: 180px;
        border-style: outset;
        border-color: snow;
        border-radius: 10%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 13px;
        transform: translate(0,0);
        transition-duration:1S ;
        transition-timing-function: ease;
    
        
    }
    .second:hover{
        transform: translate(0,-25px);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .third{
        margin-top: 40px;
        margin-bottom: -20;
        margin-left: 11%;
        border: 4px solid #ffe6dd;
        padding: 7px;
        float: left;
        width: 180px;
        border-style: outset;
        border-color: snow;
        border-radius: 10%;
        text-align: center;
        padding-top: 26px;
        padding-bottom: 46px;
        transform: translate(0,0);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .third:hover{
        transform: translate(0,-25px);
        transition-duration:1S ;
        transition-timing-function:ease;
        
    }
    .fourth{
        margin-top: 40px;
        margin-bottom: -20;
        margin-left: 11%;
        border: 4px solid #ffe6dd;
        padding: 7px;
        float: left;
        width: 180px;
        border-style: outset;
        border-color: snow;
        border-radius: 10%;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 10px;
        transform: translate(0,0);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .fourth:hover{
        transform: translate(0,-25px);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .fifth{
        margin-top: 50px;
        margin-bottom: -20;
        margin-left: 11%;
        border: 4px solid #ffe6dd;
        padding: 15px;
        float: left;
        width: 180px;
        border-style: outset;
        border-color: snow;
        border-radius: 10%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        transform: translate(0,0);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .fifth:hover{
        transform: translate(0,-25px);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .sixth{
        margin-top: 46px;
        margin-bottom: -20;
        margin-left: 11%;
        border: 4px solid #ffe6dd;
        padding-top: 5px;
        padding-bottom: 11px;
        float: left;
        width: 180px;
        border-style: outset;
        border-color: snow;
        border-radius: 10%;
        text-align: center;
        padding-top: 32px;
        padding-bottom: 55px;
        transform: translate(0,0);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .sixth:hover{
        transform: translate(0,-25px);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .seventh{
        margin-top: 46px;
        margin-bottom: -20;
        margin-left: 11%;
        border: 4px solid #ffe6dd;
        padding-top: 5px;
        padding-bottom: 11px;
        float: left;
        width: 180px;
        border-style: outset;
        border-color: snow;
        border-radius: 10%;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 19px;
        transform: translate(0,0);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .seventh:hover{
        transform: translate(0,-25px);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .eighth{
        margin-top: 40px;
        margin-bottom: -20;
        margin-left: 11%;
        border: 4px solid #ffe6dd;
        padding-top: 5px;
        padding-bottom: 11px;
        float: left;
        width: 180px;
        border-style: outset;
        border-color: snow;
        border-radius: 10%;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 31px;
        transform: translate(0,0);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    .eighth:hover{
        transform: translate(0,-25px);
        transition-duration:1S ;
        transition-timing-function: ease;
        
    }
    @keyframes drop{
        0%{
            opacity: 0;
            transform: translateY(-80px);
        }
        100%{
            opacity: 1;
            transform: translateY(0%);
        }
    }
    .foot{
        background-color: #d58d9b;
    }
    .foot{
        height: 100px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto ;
        grid-template-areas: "r contact map";
        background-color: #d58d9b;
    }
    .r{
        grid-area: r;
    }
    .contact{
        grid-template-columns: cotact;
        display: table-caption;
        background-color: #d58d9b;
        flex:1;
    }
    .map{
        grid-area: map;
       
        display: table-caption;
        background-color: #d58d9b;
        
        
    }
    .foot p{
        background-color: #d58d9b;
        padding: 3PX;
    }
    .foot p a{
        background-color: #d58d9b;
        padding: 5PX;
    }
    
    